<div class="well">
  <div class="row">
    <div class="col-md-3">
      <strong>Nome:</strong>
    </div>
    <div class="col-md-3">
      {{pessoa?.nome}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Date de Nascimento:</strong>
    </div>
    <div class="col-md-3">
      {{pessoa?.dataNascimento | date: 'dd/MM/yyyy'}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>CPF:</strong>
    </div>
    <div class="col-md-3">
      {{pessoa?.cpf}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Sexo:</strong>
    </div>
    <div class="col-md-3">
      {{pessoa?.sexo }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>E-mail:</strong>
    </div>
    <div class="col-md-3">
      {{pessoa?.email }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Telefone:</strong>
    </div>
    <div class="col-md-3">
      {{pessoa?.telefone }}
    </div>
  </div>
 
</div>

